<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <style>
        body, button {
            font-family: "Quicksand", sans-serif;
        }

        table.tbl, table.tbl thead tr th, table.tbl tbody tr td {
            border: 1px solid black;
            padding: .5rem
        }

        table.tbl tbody tr td button {
            width: auto;
            height: auto;
        }

        .content {
            padding: 1rem;
            margin: 1rem;
            border: 1px solid #000;
        }

    </style>
    <script>
    </script>
</head>
<body>
    <div class="container">
        <h1>Voucher Pool System</h1>
        <div class="content">
            <h2>Offer Form</h2>
            <div>
                <form action="/submitOffer" method="post">
                    <table>
                        <tr>
                            <th style="text-align: left"><label>Name :</label></th>
                            <td><input type="text" style="width: 100%" name="name" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <th style="text-align: left"><label>Discount :</label></th>
                            <td><input type="text" style="width: 100%" name="percentageDiscount" class="form-control" required/></td>
                        </tr>
                        <!--                    <tr>-->
                        <!--                        <th style="text-align: left"><label>Expiration Date :</label></th>-->
                        <!--                        <td><input type="date" style="width: 100%" name="expirationDate"/></td>-->
                        <!--                    </tr>-->
                        <tr>
                            <td colspan="2" style="text-align: end;">
                                <button style="cursor: pointer" class="btn btn-primary" type="submit">Submit</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="content">
            <h2>Recipient Form</h2>
            <div>
                <form id="recipientForm" action="/submitRecipient" method="post">
                    <table>
                        <tr>
                            <th style="text-align: left"><label>Name :</label></th>
                            <td><input type="text" style="width: 100%" name="name" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <th style="text-align: left"><label>Email :</label></th>
                            <td><input type="text" style="width: 100%" name="email" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: end;">
                                <button style="cursor: pointer" class="btn btn-primary" type="submit">Submit</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="content">
            <h2>Validate Voucher Form</h2>
            <div>
                <form id="validateForm"  method="post">
                    <table>
                        <tr>
                            <th style="text-align: left"><label>Name :</label></th>
                            <td><input type="text" style="width: 100%" name="code" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <th style="text-align: left"><label>Email :</label></th>
                            <td><input type="text" style="width: 100%" name="email" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: end;">
                                <button style="cursor: pointer" class="btn btn-primary" type="submit">Submit</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>


        <div class="content">
            <table class="tbl">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Discount (%)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="offers-row">

                </tbody>
            </table>
        </div>

        <div class="content">
            <table class="tbl">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Offer Name</th>
                    <th>Discount (%)</th>
                    <th>Email</th>
                    <th>Expiration Date</th>
                </tr>
                </thead>
                <tbody id="vouchers-row">

                </tbody>
            </table>
        </div>
<!--        <div>-->
<!--            <button onclick=""-->
<!--        </div>-->

    </div>


    <script>
        function getOfferData() {
            const url = 'http://localhost:8081/getOffer';

            $.ajax({
                url: "/getOffer",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    let offerRows = '';
                    console.log(data)
                    $.each(data, function(index, offer) {
                        offerRows +=
                        `<tr>
                            <td>${offer.offerID}</td>
                            <td>${offer.name}</td>
                            <td>${offer.percentageDiscount}</td>
                            <td><button onclick="generateVoucher(${offer.offerID})" class="btn btn-primary">Generate Voucher</button></td>
                        </tr>`;
                    });

                    $('#offers-row').html(offerRows);
                },
                error: function() {
                    alert('Failed to fetch offers.');
                }
            });
        }
        getOfferData();

        function generateVoucher(value) {
            var varDate = '';
            varDate = prompt("Please enter expiration date:", "e.g: 2024-09-01");
            var queryUrl = "/generateVoucher?id=" + value + "&date=" + varDate;

            if (varDate != null) {
                $.ajax({
                    url: queryUrl,
                    type: "POST",
                    dataType: "json",
                    success: function(data) {
                        console.log(data);
                        var msg = data.message;
                        alert(data.message);
                    },
                    error: function(xhr, status, error) {
                        var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred';
                        alert(errorMessage);
                    }
                });
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#recipientForm').on('submit', function(event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: "/submitRecipient",
                    type: "POST",
                    data: formData,
                    success: function(data) {
                        console.log(data);
                        alert("Recipient has been created successfully");
                    },
                    error: function(xhr, status, error) {
                        var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred';
                        alert(errorMessage);
                    }
                });
                $('#recipientForm')[0].reset();
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#validateForm').on('submit', function(event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: "/validateVoucher",
                    type: "POST",
                    data: formData,
                    success: function(data) {
                        console.log(data);
                        var msg = data.message;
                        alert(data.message);
                    },
                    error: function(xhr, status, error) {
                        var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred';
                        alert(errorMessage);
                    }
                });
                $('#validateForm')[0].reset();
            });
        });
    </script>

    <script>
        function getValidVoucher() {
        const url = 'http://localhost:8081/getValidVoucher';

        $.ajax({
            url: "/getValidVoucher",
            type: "GET",
            dataType: "json",
            success: function(data) {
                let voucherRows = '';
                console.log(data)
                $.each(data, function(index, item) {
                    voucherRows +=
                    `<tr>
                        <td>${item.voucher.code}</td>
                        <td>${item.name}</td>
                        <td>${item.percentageDiscount}</td>
                        <td>${item.email}</td>
                        <td>${item.voucher.expirationDate}</td>
                    </tr>`;
                });

                $('#vouchers-row').html(voucherRows);
            },
            error: function() {
                alert('Failed to fetch voucher.');
            }
        });
    }
    getValidVoucher();
    </script>
</body>
</html>